<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      title Document
   body
      #myDIV.header
         h2(style='margin:5px') My To Do List
         input#myInput(type='text', placeholder='Title...')
         span.addBtn(onclick='newElement()') Add
      ul#myUL
         li Hit the gym
         li.checked Pay bills
         li Meet George
         li Buy eggs
         li Read a book
         li Organize office

