<!DOCTYPE html>
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=ABeeZee")
      title My To Do List || thuann89@gmail.com
      
      link(rel='stylesheet', href='/dist/style.css')
   body
      #myDIV.header
         h2(style='margin:5px') My Todo List
         input#myInput(type='text', placeholder='Title...')
         span.addBtn Add
      ul#myUL         

      block scripts
         script(src="/dist/App.bundle.js")